/* CSS Tool Tip, from https://www.w3schools.com/css/css_tooltip.asp */

/* Prevent cutting off Tooltips at edges of content body */
.topic-body .cooked {
  overflow: visible;
}

/* Tooltip Anchor Text Container */
span[data-ttext] {
  position: relative;
  display: inline-block;
  border-bottom: 1px dashed #ccc; /* dots under the anchor text */
}

/* Tooltip Content Container */
span[data-ttip] {
  visibility: hidden;
  /* width: 120px; */
  width: max-content;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 0 .3em .1em;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  /* Position the Tooltip - Use half of the width (120/2 = 60), to center the tooltip */
  bottom: 100%;
  /* left: 50%; */
  /* margin-left: -60px; */
    left: 0;
}

/* Show the Tooltip Content Container when you mouse over the Tooltip Anchor Text */
span[data-ttext]:hover {
  display: flex;
  border-bottom: none;
  flex-direction: row;
  flex-wrap: wrap;
  span[data-ttip] {
    visibility: visible;
  display: flex;
  border-bottom: none;
  flex-direction: row;
  flex-wrap: wrap;
  }  
}
