/* CSS Tool Tip, from https://www.w3schools.com/css/css_tooltip.asp */

/* Prevent cutting off Tooltips at edges of content body */
.topic-body .cooked {
  overflow: visible;
}

/* Tooltip Anchor Text Container */
span[data-ttext] {
  border-bottom: 1px dashed #ccc; /* dots under the anchor text */
}

span[data-ttip] {
    visibility: hidden !important;
    /* width: fit-content; */
    /* max-width: 700px; */
    /* display: inline-table; */
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 0 .3em .1em;
    border-radius: 6px;
    position: relative;
    z-index: 1;
    /* bottom: 100%; */
    /* left: 50%; */
    /* margin-left: -60px; */
    flex-direction: row;
}

/* Show the Tooltip Content Container when you mouse over the Tooltip Anchor Text */
span[data-ttext]:hover {
  span[data-ttip] {
    visibility: visible !important;
  }
}
